body {
  margin: 0;
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

.loadingScreen{
  background-color: #808080;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  height: 100vh;
  font-family: none;
}

.loadingScreen span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.App {
  text-align: center;
}

.mid{
  width: 175vh;
  margin: auto;
}

.periodicTable{
  display: grid;
  grid-template-columns: repeat(18, 9vh);
  grid-template-rows: repeat(10, 9vh);
  gap: 0.75vh;
  position: absolute;
  width: 175vh;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 175vh;
  font-size: 3vh;
  color: rgba(207, 215, 215, 0.99)
}

.nav h1{
  text-shadow: 0 2px 0 #9400D3;
}

.randomWikiElement{
  padding: 1vh;
}

.randomWikiElement img{
    border: solid;
    height: 8.5vh;
    width: 8.5vh;
    border-radius: 50%;
    animation: spin infinite 5s linear;
    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(#1e90ff, #b8860b, #9400D3) border-box;
    border: 0.35vh solid transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linkContainer{
  height: 7vh;
  width: 40vh;
  display: flex;
  justify-content: space-evenly;
}

.linkContainer img {
  padding: 0.5vh;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(to top, #1e90ff, #9400d3) border-box;
  border: 0.35vh solid transparent;
}

.linkContainer img:hover{
  background: linear-gradient(#000000, #000000) padding-box,
  linear-gradient(to top, #9400d3, #1e90ff) border-box;
}

.basicInfoBox{
  font-size: 2.35vh;
  display: grid;
  grid-column: 3 / span 4;
  grid-row: 3 / span 3;
}

.basicInfo{
  border: solid 0.4vh transparent;
  height: 27vh;
  width: 27vh;
  margin: auto;
  border-radius: 10%;
}

.categoryBtns{
  grid-column: 7 / span 6;
  grid-row: 3 / span 3;
  font-size: 1.25vh;
}

.groupColor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.25vh;
}

.categoryHolder{
  display: flex;
  justify-content: center;
  width: 28vh;
  border-radius: 1.5vh;
  color: var(--color);
  transition: all 0.25s ease-in-out
}

.categoryHolder:hover{
  color: #000000;
  background-color: var(--hover-background-color)
}

.sameCategory{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  width: 26vh;
  gap: 1.5vh;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
}

.colorBox{
  border: 0.25vh #000000 solid;
  height: 3vh;
  width: 3vh;
  border-radius: 10%;
}

.elementCard{
  border: 0.25vh solid;
  font-size: 0.72vh;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  line-height: 0.75vh;
  background-color: transparent;
  color: var(--color);
  border-color: var(--border-color);
  transition: all 0.25s ease-in-out;
}

.elementCard:hover{
  transform: scale(1.25, 1.25);
  color: #000000;
  background-color: var(--hover-background-color);
  cursor: pointer;
}

.modalContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  text-align: center;
  gap: 2.5vh;
}

.modalHeader{
  font-size: 6vh;
  text-transform: capitalize;
  margin: 0;
  margin-top: 2.5vh;
}

.downArrow img{
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 50%;
  animation: oscillate-Y infinite 1s alternate;
}

@keyframes oscillate-Y {
  0%{
transform: translateY(0)
  }
  100%{
transform: translateY(20px)
  }
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalCategories, .randomWikiElementContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5vh;
}

.modal, .modalCategories {
  box-shadow: #f5f5f5 0px 1px 15px 0px;
  border-radius: 10%;
  margin: auto;
  width: 50vh;
  height: 50vh;
  line-height: 2vh;
  overflow: scroll;
  background-color: #000000;
}

.modalCategories{
  width: 120vh;
  height: 70vh;
  border-radius: 12.5%;
  padding: 0 3.5vh;
}

.wiki{
  margin: 2vh;
  padding: 0.25vh;
  border: 0.40vh solid;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
}

.wiki:hover{
  box-shadow: #f5f5f5 0px 1px 15px 0px;
}

.modal h1{
  font-size: 9vh;
}

.modal h3{
  font-size: 4.5vh;
}

.elementModal{
  margin: 2vh;
  padding: 0.5vh;
  width: 40vh;
  text-align: center;
  line-height: normal;
}

.moreInfo{
  text-align: left;
}

select{
  margin-left: 6px;
  color: inherit;
  background-color: inherit;
  border: solid;
  border-color: inherit;
  border-radius: 1vh;
}

.btn{
  color: #ffffff;
  border: 0.25vh solid #ffffff;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}