.App {
  text-align: center;
  color: rgba(245, 245, 245, 0.821);
  /* display: flex;
  flex-direction: column; */
  /* overflow: scroll; */
}

body {
  margin: 0;
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingScreen{
  display: flex;
  flex-direction: column;
  background-color: gray;
  overflow: hidden;
}

.mid{
  display: flex;
  justify-content: center;
}

.periodicTable{
  display: grid;
  grid-template-columns: repeat(18, 9vh);
  grid-template-rows: repeat(10, 9vh);
  gap: 0.75vh;
  position: absolute;
  top: 15%;
}

/* .navContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
} */

.nav{
  /* border: solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 180vh;
  font-size: 18px;
  /* top: 0; */
}

/* .nav h1{
background: linear-gradient(to top, deepskyblue 0%, darkorchid 70%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} */

.placeholder{
  padding: 1vh;
}

  .placeholder img{
    border: solid;
    height: 8.5vh;
    width: 8.5vh;
    border-radius: 50%;
    animation: placeholder-spin infinite 5s linear;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to top, dodgerblue, darkviolet) border-box;
    border: 0.35vh solid transparent;
  }

@keyframes placeholder-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.linkContainer{
  /* border: solid; */
  height: 7vh;
  width: 40vh;
  display: flex;
  justify-content: space-evenly;
}

.linkContainer img {
  padding: 0.5vh;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  background: linear-gradient(black, black) padding-box,
  linear-gradient(to top, dodgerblue, darkviolet) border-box;
  border: 0.35vh solid transparent;
}

.linkContainer img:hover{
  background: linear-gradient(black, black) padding-box,
  linear-gradient(to top, darkviolet, dodgerblue) border-box;
}


.basicInfoBox{
  /* border: solid blue; */
  display: grid;
  grid-column: 3 / span 4;
  grid-row: 3 / span 3;
}

.basicInfo{
  border: solid transparent;
  height: 27vh;
  width: 27vh;
  margin: auto;
  border-radius: 5%;
}

.categoryBtns{
  /* border: solid purple; */
  grid-column: 7 / span 6;
  grid-row: 3 / span 3;
  font-size: 1.25vh;
  color: white;
}

.groupColor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.25vh;
}

.sameCategory{
  /* border: solid red; */
  display: flex;
  align-items: center;
  height: 5vh;
  width: 28vh;
  gap: 1vh;
  text-transform: capitalize;
  border-radius: 1.5vh;
  color: rgba(245, 245, 245, 0.909);
}

/* .sameCategory:hover{
  color:var(--hover-color) !important;
  background-color: var(--hover-background-color) !important;
} */

.colorBox{
  border: solid;
  height: 3vh;
  width: 3vh;
  border-radius: 5%;
}

.colorBox:hover{
  border-color: var(--hover-border-color) !important;
  background-color: var(--hover-background-color) !important;
}

.elementCard{
  border: solid;
  font-size: 0.72vh;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.75vh;
}

.elementCard:hover{
  transform: scale(1.5, 1.5);
  z-index: 1;
  color:var(--hover-color) !important;
  border-color: var(--hover-border-color) !important;
  background-color: var(--hover-background-color) !important;
}

.modalContainer{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
}

.modalHeader{
  text-align: center;
  font-size: 6vh;
}

.downArrow{
  /* border: solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.downArrow img{
  /* border: solid whitesmoke; */
  height: 7.5vh;
  width: 7.5vh;
  border-radius: 50%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: whitesmoke 0px 1px 15px 0px;
  border-radius: 12px;
  margin: auto;
  width: 50vh;
  height: 50vh;
  top: 25vh;
  left: 67.5vh;
  position: absolute;
  z-index: 1;
  line-height: 2vh;
  overflow: scroll;
}

.modal img{
  margin: 2vh;
  padding: 0.25vh;
  border: 3px solid;
  box-shadow: whitesmoke 0px 1px 15px 0px;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
}

.modal h1{
  font-size: 9vh;
}

.modal h3{
  font-size: 4.5vh;
}

.elementModal{
  /* border: solid white; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 2vh;
  padding: 0.5vh;
  width: 40vh;
  text-align: center;
  line-height: normal;
}

.moreInfo{
  text-align: left;
}