.App {
  text-align: center;
  color: rgba(245, 245, 245, 0.85);
  text-decoration: underline;
}

body {
  margin: 0;
  /* font-family: 'Arial Rounded MT Bold'; */
  font-family: "Rockwell";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loadingScreen{
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.periodicTable{
  display: grid;
  grid-template-columns: repeat(18, 60px);
  grid-template-rows: repeat(10, 60px);
  gap: 5px;
  position: absolute;
  top: 10%;
  left: 5%;
}

.elementCard{
  border: solid;
  font-size: 6px;
  border-radius: 5%;
}


.elementCard:hover{
  transform: scale(1.5, 1.5);
  z-index: 1;
  color:var(--hover-color) !important;
  border-color: var(--hover-border-color) !important;
  background-color: var(--hover-background-color) !important;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: whitesmoke 0px 5px 20px 0px;
  /* background-color: mediumaquamarine; */
  background-color: mediumslateblue;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: absolute;
  width: 320px;
  top: 70px;
  left: calc(35.5%);
  bottom: 110px;
}