.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.periodicTable{
  border: solid peru;
  display: grid;
  grid-template-columns: repeat(18, 70px);
  grid-template-rows: repeat(10, 70px);
  grid-gap: 4px;
  position: absolute;
  height: 600px;
  width: 1600px;
  top: 5%;
  left: 5%;
}

.elementCard{
  border: solid purple;
  font-size: 8px;
}

.elementCard:hover{
  transform: scale(1.25, 1.25);
  z-index: 1;
}